<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @admin.user %>
</p>

<p>
  <b>Password:</b>
  <%= @admin.password %>
</p>

<p>
  <b>Privilege:</b>
  <%= @admin.privilege %>
</p>


<%= link_to 'Edit', edit_admin_path(@admin) %> |
<%= link_to 'Back', admins_path %>
